package components

import "github.com/Linkinlog/LeafListr/internal/api/models"

templ OffersAndSearch(categories, subCategories []string, offers []*models.Offer, terpenes []*models.Terpene) {
	<section
		id="offers-and-search"
		hx-target="#products"
		hx-indicator="#loading-products"
		hx-swap="outerHTML"
	>
		@Offers(offers)
		@Search(terpenes, subCategories)
	</section>
	<div id="products" hx-swap-oob="true"></div>
}
