package components

import "github.com/Linkinlog/LeafListr/internal/api/models"

templ Search(terps []*models.Terpene) {
	@Accordion("filter/sort", group(terps))
}

templ group(terps []*models.Terpene) {
	<form
		hx-get="/views/products"
		hx-boost="true"
	>
		@Filters()
		@Sorters(terps)
		<button type="submit">Apply</button>
	</form>
}
